* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* default: box-sizing: content-box --> padding and border is added to the outside of the picture (increasing the picture) */
    /* box-sizing: border-box --> padding and border are added within the original picture size (shrinking the picture) */
    /* margin is not relevant here */
}

.page-body {
    height: 75vh;  /* vh: viewport (visible area of the screen) height */
    background: #555251;
}

.data-table {
    margin: auto;
    text-align: center;

}

.display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    place-items: start center;
    width: 16rem;
    gap: 10px;
    margin: 0.5rem auto 0.5rem auto;
    border-radius: 0.5rem;
    border: 1px solid #d4d4d3;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: #e3e3e6;
}

.game-title {
    margin-top: 0.5rem;
    color: #e3e3e6;
}

.trial {
    background: green;
    border: 1px solid #bfd1df;
    margin: 1px;
}
#name-input {
    margin-bottom: 0.5rem;
    width: 18rem;
}

.btn {
    width: 7rem;
    margin-bottom: 0.5rem;
    background: transparent;
    color: #222;
    padding: 0.5rem;
    display: inline-block;
    /* transition: var(--transition); */
    font-size: 0.875rem;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.scoreboard {
    background: yellow;
    text: white;
}


#double-hidden {
    color: #35455d;
}

.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(20% - 6px);
    height: calc(17% - 6px);
    position: relative;
    margin: 3px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #bfd1df;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}
