* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* default: box-sizing: content-box --> padding and border is added to the outside of the picture (increasing the picture) */
    /* box-sizing: border-box --> padding and border are added within the original picture size (shrinking the picture) */
    /* margin is not relevant here */
}

.page-body {
    height: 75vh;  /* vh: viewport (visible area of the screen) height */
    background-color: #555251;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%236d6d6d' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.data-table {
    margin: auto;
    text-align: center;

}

.display {
    display: grid;
    background: #555251;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    place-items: start center;
    width: 16rem;
    gap: 10px;
    margin: 0.5rem auto 0.5rem auto;
    border-radius: 0.5rem;
    border: 1px solid #d4d4d3;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: #e3e3e6;
}

.game-title {
    margin-top: 0.5rem;
    color: #e3e3e6;
}

#name-input {
    margin-bottom: 0.5rem;
    width: 16rem;
}

.btn {
    width: 7rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    display: inline-block;
    font-size: 0.875rem;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

#board {
    margin-top: 0.5rem;
    background: green;
}

.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(20% - 6px);
    height: calc(17% - 6px);
    position: relative;
    margin: 3px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #bfd1df;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}
