{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block content %}

<!--<div class="">-->

    <section class="data-table">
        <h1 class="game-title">Memory Game</h1>
        <div class="display">
            <div class="timer">
                <div>
                    <h2 id="minutes">0</h2>
<!--                    <span>minutes</span>-->
                </div>
            </div>
            <div class="timer">
                <div>
                    <h2>:</h2>
<!--                    <h2 id="double-hidden"></h2>-->
                </div>
            </div>
            <div class="timer">
                <div>
                    <h2 id="seconds">0</h2>
<!--                    <span>seconds</span>-->
                </div>
            </div>
            <div class="timer">
                <div>
                    <h2>:</h2>
<!--                    <h2 id="double-hidden"></h2>-->
                </div>
            </div>
            <div class="timer">
                <div>
                    <h2 id="milliseconds">0</h2>
<!--                    <span>miliseconds</span>-->
                </div>
            </div>
        </div>

        <form action="" onsubmit="return false">
            <input type="text" id="name-input" placeholder=" Add your name" required>
            <br>
            <button type="button" class="btn btn-outline-light" id="start-button">Start</button>
            <button type="button" class="btn btn-outline-light" id="reset-button">Reset</button>
            <button class="btn btn-outline-light btn" id="save-button" onclick="submit_entry();">Save</button>
            <a class="btn btn-outline-light" href="{{ url_for('show_board') }}">Scoreboard</a>
        </form>
    </section>

<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="trial col-6">-->
<!--                <h1>TRIAL</h1>-->
<!--            </div>-->
<!--            <div class="trial col-6">-->
<!--                <h1>TRIAL</h1>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <section class="memory-game">

        <div class="memory-card" data-framework="one">
            <img class="front-face" src="static/img/svg-1.svg" alt="Picture-1">
            <img class="back-face" src="static/img/svg-backside.svg" alt="Picture-backside">
        </div>
        <div class="memory-card" data-framework="one">
            <img class="front-face" src="static/img/svg-1.svg" alt="Picture-1">
            <img class="back-face" src="static/img/svg-backside.svg" alt="Picture-backside">
        </div>
        
        <div class="memory-card" data-framework="two">
            <img class="front-face" src="static/img/svg-2.svg" alt="Picture-2">
            <img class="back-face" src="static/img/svg-backside.svg" alt="Picture-backside">
        </div>
        <div class="memory-card" data-framework="two">
            <img class="front-face" src="static/img/svg-2.svg" alt="Picture-2">
            <img class="back-face" src="static/img/svg-backside.svg" alt="Picture-backside">
        </div>
        
        <div class="memory-card" data-framework="three">
            <img class="front-face" src="static/img/svg-3.svg" alt="Picture-3">
            <img class="back-face" src="static/img/svg-backside.svg" alt="Picture-backside">
        </div>
        <div class="memory-card" data-framework="three">
            <img class="front-face" src="static/img/svg-3.svg" alt="Picture-3">
            <img class="back-face" src="static/img/svg-backside.svg" alt="Picture-backside">
        </div>
        
        <div class="memory-card" data-framework="four">
            <img class="front-face" src="static/img/svg-4.svg" alt="Picture-4">
            <img class="back-face" src="static/img/svg-backside.svg" alt="Picture-backside">
        </div>
        <div class="memory-card" data-framework="four">
            <img class="front-face" src="static/img/svg-4.svg" alt="Picture-4">
            <img class="back-face" src="static/img/svg-backside.svg" alt="Picture-backside">
        </div>
        
        <div class="memory-card" data-framework="five">
            <img class="front-face" src="static/img/svg-5.svg" alt="Picture-5">
            <img class="back-face" src="static/img/svg-backside.svg" alt="Picture-backside">
        </div>
        <div class="memory-card" data-framework="five">
            <img class="front-face" src="static/img/svg-5.svg" alt="Picture-5">
            <img class="back-face" src="static/img/svg-backside.svg" alt="Picture-backside">
        </div>
        
        <div class="memory-card" data-framework="six">
            <img class="front-face" src="static/img/svg-6.svg" alt="Picture-6">
            <img class="back-face" src="static/img/svg-backside.svg" alt="Picture-backside">
        </div>        
        <div class="memory-card" data-framework="six">
            <img class="front-face" src="static/img/svg-6.svg" alt="Picture-6">
            <img class="back-face" src="static/img/svg-backside.svg" alt="Picture-backside">
        </div>

        <div class="memory-card" data-framework="seven">
            <img class="front-face" src="static/img/svg-7.svg" alt="Picture-7">
            <img class="back-face" src="static/img/svg-backside.svg" alt="Picture-backside">
        </div>        
        <div class="memory-card" data-framework="seven">
            <img class="front-face" src="static/img/svg-7.svg" alt="Picture-7">
            <img class="back-face" src="static/img/svg-backside.svg" alt="Picture-backside">
        </div>

        <div class="memory-card" data-framework="eight">
            <img class="front-face" src="static/img/svg-8.svg" alt="Picture-8">
            <img class="back-face" src="static/img/svg-backside.svg" alt="Picture-backside">
        </div>        
        <div class="memory-card" data-framework="eight">
            <img class="front-face" src="static/img/svg-8.svg" alt="Picture-8">
            <img class="back-face" src="static/img/svg-backside.svg" alt="Picture-backside">
        </div>

        <div class="memory-card" data-framework="nine">
            <img class="front-face" src="static/img/svg-9.svg" alt="Picture-9">
            <img class="back-face" src="static/img/svg-backside.svg" alt="Picture-backside">
        </div>        
        <div class="memory-card" data-framework="nine">
            <img class="front-face" src="static/img/svg-9.svg" alt="Picture-9">
            <img class="back-face" src="static/img/svg-backside.svg" alt="Picture-backside">
        </div>

        <div class="memory-card" data-framework="ten">
            <img class="front-face" src="static/img/svg-10.svg" alt="Picture-10">
            <img class="back-face" src="static/img/svg-backside.svg" alt="Picture-backside">
        </div>        
        <div class="memory-card" data-framework="ten">
            <img class="front-face" src="static/img/svg-10.svg" alt="Picture-10">
            <img class="back-face" src="static/img/svg-backside.svg" alt="Picture-backside">
        </div>

        <div class="memory-card" data-framework="eleven">
            <img class="front-face" src="static/img/svg-11.svg" alt="Picture-11">
            <img class="back-face" src="static/img/svg-backside.svg" alt="Picture-backside">
        </div>        
        <div class="memory-card" data-framework="eleven">
            <img class="front-face" src="static/img/svg-11.svg" alt="Picture-11">
            <img class="back-face" src="static/img/svg-backside.svg" alt="Picture-backside">
        </div>

        <div class="memory-card" data-framework="twelve">
            <img class="front-face" src="static/img/svg-12.svg" alt="Picture-12">
            <img class="back-face" src="static/img/svg-backside.svg" alt="Picture-backside">
        </div>        
        <div class="memory-card" data-framework="twelve">
            <img class="front-face" src="static/img/svg-12.svg" alt="Picture-12">
            <img class="back-face" src="static/img/svg-backside.svg" alt="Picture-backside">
        </div>

        <div class="memory-card" data-framework="thirteen">
            <img class="front-face" src="static/img/svg-13.svg" alt="Picture-13">
            <img class="back-face" src="static/img/svg-backside.svg" alt="Picture-backside">
        </div>
        <div class="memory-card" data-framework="thirteen">
            <img class="front-face" src="static/img/svg-13.svg" alt="Picture-13">
            <img class="back-face" src="static/img/svg-backside.svg" alt="Picture-backside">
        </div>

        <div class="memory-card" data-framework="fourteen">
            <img class="front-face" src="static/img/svg-14.svg" alt="Picture-14">
            <img class="back-face" src="static/img/svg-backside.svg" alt="Picture-backside">
        </div>
        <div class="memory-card" data-framework="fourteen">
            <img class="front-face" src="static/img/svg-14.svg" alt="Picture-14">
            <img class="back-face" src="static/img/svg-backside.svg" alt="Picture-backside">
        </div>

        <div class="memory-card" data-framework="fifteen">
            <img class="front-face" src="static/img/svg-15.svg" alt="Picture-15">
            <img class="back-face" src="static/img/svg-backside.svg" alt="Picture-backside">
        </div>
        <div class="memory-card" data-framework="fifteen">
            <img class="front-face" src="static/img/svg-15.svg" alt="Picture-15">
            <img class="back-face" src="static/img/svg-backside.svg" alt="Picture-backside">
        </div>

    </section>

<!--</div>-->

{% endblock %}