{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}

<table class="table table-hover table-dark">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Centiseconds</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
    </tr>

    {% for score in scores %}
    <tr>
        <td scope="row">{{ score['user_name'] }}</td>
        <td scope="row">{{ score['user_time'] }}</td>
        <td scope="row">{{ score['game_date'] }}</td>
        <td scope="row">{{ score['game_time'] }}</td>
    </tr>
    {% endfor %}

</table>

<a class="btn btn-secondary" href="{{ url_for('home') }}">Back</a>

<br>
<br>
<br>

{% endblock %}